.flip-container {
	perspective: 1000;
}
 
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(-180deg);
}
 
.flip-container, .front, .back {
	width: 500px;
	height: 500px;
	background-size: contain;
}
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	 
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	 
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	background-image: url('./images/front.png');
}
.back {
	background-image: url('./images/back.png');
	transform: rotateY(180deg);
}